@* S'AFFICHE LORSQU'UNE RECHERCHE EST EFFECTUÉE POUR UN JEU QUI N'EXISTE PAS *@
@* Normalement 204 ne devrait pas avoir de body... mais whatever xd *@

@model string;

<article class="errorPopup">
	<img src="~/images/shared/ui/misc/furry.gif" />
	<div>
		<h2>204 No Content</h2>
		<p>The game "@Model" contains no followers to display.</p>
	</div>
</article>