@* S'AFFICHE LORSQU'UNE RECHERCHE EST EFFECTUÉE POUR UN JEU QUI N'EXISTE PAS *@

@model string;

<article class="errorPopup">
	<img src="~/images/shared/ui/misc/furry.webp" />
	<div>
		<h2>404 Not Found</h2>
		<p>Your query for "@Model" yielded no results.</p>
	</div>
</article>