@* S'AFFICHE LORSQU'UNE ERREUR GENERIQUE SE PRODUIT EN CHARGEANT LA BASE DE DONNEES *@

@model string;

<article class="errorPopup" onclick="this.style.transform='translate(-50%, -50%) scale(0)'">
    <img src="~/images/shared/ui/misc/furry.gif" />
    <div>
        <h2>500 Internal Server Error</h2>
        <p>
            Error(s) occured while loading the database:

            <small><em>@Model</em></small>
        </p>
    </div>
</article>