@* S'AFFICHE LORSQU'UNE ERREUR GENERIQUE SE PRODUIT EN CHARGEANT LA BASE DE DONNEES *@

@model string;

<article class="errorPopup" onclick="this.style.transform = 'scale(0)'">
	<img src="~/images/shared/misc/furry.webp" />
	<div>
		<h2>500 Internal Error</h2>
		<p>
			Error(s) occured while loading the database:

			<small><em>@Model</em></small>
		</p>
	</div>
</article>