<script src="~/scripts/js/favorites.js"></script>@* QUELQUE CHOSE NE VA PAS BIEN *@

<article class="errorPopup">
	<img src="~/images/shared/misc/furry.webp" />
	<div>
		<h2>500 Internal Error</h2>
		<p>Something went REALLY wrong...</p>
	</div>
</article>