<article class="errorPopup" onclick="this.style.transform='translate(-50%, -50%) scale(0)'">
    <img @RenderSection("image") />
    <div>
        <h2>@RenderSection("header")</h2>
        <p>@RenderSection("body")</p>
    </div>
</article>