@model Follower;

<button type="button" class="follower link" data-href="/details/@Model.Id" autofocus>
	<img class="thumbnail" src="@Follower.GetPictureSrc(Model)" />
	<div class="container">
		@*<img class="addFavorite link " data-href="/favorites/add/@Model.Id" src="/images/shared/ui/star.webp" />*@
		<div class="primaryinfo">
			<img class="gamelogo" src="/images/games/@(Model.Parent.ShortName)/logo.webp" />
			<h2>@Model.Name</h2>
		</div>

		<div class="secondaryinfo">
			@if (Model.IsFavorite)
			{
				<img src="~/images/shared/attributes/favorite.webp" />
			}
			@if (Model.Protection == Follower.ProtectionLevel.Essential)
			{
				<img src="~/images/shared/attributes/essential.webp" />
			}
			else if (Model.Protection == Follower.ProtectionLevel.Protected)
			{
				<img src="~/images/shared/attributes/respawns.webp" />
			}
		</div>
	</div>
</button>