<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["sPageTitle"]</title>

    <meta charset="utf-8" />
    <link href="~/styles/shared.css" rel="stylesheet" />
    <link href="~/styles/@(ViewContext.RouteData.Values["action"].ToString().ToLower()).css" rel="stylesheet" />
    <link href="~/images/shared/ui/favicon.png" rel="icon" />
    
    @RenderSection("ExtraStyles", false)
</head>

<body>
    <header>
        <nav>
            <button class="link search" data-href="/search" data-dir="top">Recherche</button>
            <button class="link home" data-href="/" data-dir="right">
                <img src="~/images/shared/ui/logo.png" alt="'Bugs in All of Our Games' Logo" />
            </button>
            <button class="link favorites" data-href="/favoris" data-dir="bottom">Favoris</button>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <p>Copyright 2022 Maxime Gagnon. All rights reserved.</p>
    </footer>

    <div id="notificationPopup">
        <h2><center><span style="font-family: MedievalSharp">Geralt de Riv</span> a besoin de toi!</center></h2>
        <marquee bgcolor="#222" scrolldelay="10" truespeed><font color="orange">█ █ █ █ █ █ █ █</font></marquee>
        <article>
            <img src="~/images/shared/ui/popup/geralt.gif" />
            <p>Sauras-tu triompher de tes ennemis? Joins <span style="font-family: MedievalSharp">Zachary de Riv</span> </p>
        </article>
        <marquee bgcolor="#222" scrolldelay="10" truespeed><font color="orange">█ █ █ █ █ █ █ █</font></marquee>
        <button><b><a href="">ACCÉDER AU SITE</a></b></button>
    </div>

    <script src="~/scripts/shared.js"></script>
    <script src="~/scripts/@(ViewContext.RouteData.Values["action"].ToString().ToLower()).js"></script>
</body>

</html>