<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["sPageTitle"]</title>

    <meta charset="utf-8" />
    <link href="~/styles/shared.css" rel="stylesheet" />
    <link href="~/styles/@(ViewContext.RouteData.Values["action"].ToString().ToLower()).css" rel="stylesheet" />
    <link href="~/images/shared/ui/favicon.png" rel="icon" />

    @RenderSection("ExtraStyles", false)
</head>

<body>
    <header>
        <nav>
            <button class="link search" data-href="/search" data-dir="top">Recherche</button>
            <button class="link home" data-href="/" data-dir="right">
                <img src="~/images/shared/ui/logo.png" alt="'Bugs in All of Our Games' Logo" />
            </button>
            <button class="link favorites" data-href="/favoris" data-dir="bottom">Favoris</button>
        </nav>
    </header>

    @RenderBody()

    <div id="ad">
        <img class="swordTop" src="~/images/shared/ui/popup/sword.png" />
        <h2>
            <span class="gerald">Geralt de Riv&nbsp;</span> a besoin de toi!
        </h2>
        <marquee bgcolor="#222" scrolldelay="10" truespeed><font color="red">█ █ █ █ █ █ █ █</font></marquee>

        <article>
            <img class="geraltImg" src="~/images/shared/ui/popup/geralt.png" />
            <p>Sauras-tu triompher de tes ennemis? Joins-moi dans mon aventure épique à la recherche de <em>l'Épée de la Lune ! </em> Monstres et humains ne sauront résister à notre duo inséparable.<br /><br /><small><i>Lances-toi dans mon récit dès maintenant et court la chance de gagner une PS6.</i></small></p>
        </article>

        <marquee bgcolor="#222" scrolldelay="10" truespeed><font color="red">█ █ █ █ █ █ █ █</font></marquee>
        <button><b><a href="">ACCÉDER AU SITE</a></b></button>
        <img class="swordBottom" src="~/images/shared/ui/popup/sword.png" />
    </div>

    <footer>
        <p>Code &copy; 2022 Maxime Gagnon. All rights reserved.<br />
        <small>Zenimax Media: For any liability issues pls contact kevin leduc</small></p>
    </footer>

    <script src="~/scripts/shared.js"></script>
    <script src="~/scripts/@(ViewContext.RouteData.Values["action"].ToString().ToLower()).js"></script>
</body>

</html>