@model List<Follower>

@section ExtraStyles {
	<link href="~/styles/favorites.css" rel="stylesheet" />
}

<h2>Vous avez @Model.Count favoris.</h2>

<section id="cardsWrapper">
	@foreach (Follower follower in Model)
	{
		<form asp-action="Delete">
			<partial name="_FollowerCardPartial" model="follower" />
			<input type="hidden" name="Id" value="@follower.Id" />
		</form>
	}
</section>
