@model List<Follower>

<section id="favoritesWrapper">
	@foreach (Follower follower in Model)
	{
		<form asp-action="Delete">
			<partial name="_FollowerCardPartial" model="follower" />
			<input type="hidden" name="Id" value="@follower.Id" />
		</form>
	}
</section>

<p>Vous avez @Model.Count favoris lol</p>