table {
	box-shadow: 0 2px 7px 0 var(--lighter);
}
th {
	background-color: var(--darker);
}
thead th {
	background-color: var(--lighter);
}

.child {
	box-shadow: 0 5px 10px -5px rgb(143, 129, 163);
}
.childImage {
	box-shadow: 0 5px 10px -5px rgb(143, 129, 163);
	transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.childImage:hover {
	color: white;
	transform: rotateX(12deg) translate(0, -1%) ;
	box-shadow: 0 10px 14px -5px rgb(177, 167, 167);
}
.childImage:active {
	transform: rotateX(0) translate(0, 0) ;
	box-shadow: 0 5px 10px -5px rgb(143, 129, 163);
}

.btnFavori {
	box-shadow: 0 3px 4px 0px rgb(70, 69, 75);
}