main {
	flex-direction: column;
}

#followerInfoWrapper {
	width: 100vw;
	height: 90%;
	display: grid;
	grid-template-rows: repeat(4, 25%);
	grid-template-columns: repeat(3, calc(100% / 3));
}

#portrait {
	margin: 0;

	grid-area: span 3;

	border-right: solid 2px white;
}
	#portrait img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: object-position 0.5s ease-out, transform 0.5s ease-out;
	}
	#portrait figcaption {
		width: 100%;

		position: relative;
		bottom: 4ex;

		text-align: center;
		font-size: 4vmin;

		background: #111111CC;
	}

#attributes {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	grid-area: 4;

	border-right: solid 2px white;
}
#attributes img {
	filter: drop-shadow(0 0 10px yellow);
}

#description {
	display: flex;
	flex-direction: column;

	grid-area: span 2 / span 2;
}
#description p {
	width: 100%;
	height: 80%;
	padding: 10px;

	font-size: 2vmin;
}
#description footer {
	width: 100%;
	height: 20%;

	font-size: 3vmin;
}

#raceclass, #abilities {
	grid-area: span 2;
	background: #333333;
}

.raceclassCard {
	width: 100%;
	height: 50%;

	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 33% 67%;
	align-items: center;
	justify-content: center;

	border: solid 1px white;
	border-left: none;
	background-color: #111111;
}
	.raceclassCard img {
		width: 75%;
		height: 100%;

		grid-area: span 2;
		justify-self: center;
		object-fit: contain;
	}

#abilities {
	display: flex;
	flex-direction: column;
	gap: 15px;

	border-left: solid 2px white;
	border-bottom: solid 2px white;
}
	#abilities header {
		width: 100%;
		height: 20%;

		font-size: 4vmin;
	}

	#abilities .scrollWrapper {
		width: 100%;
		height: 80%;

		overflow-x: hidden;
		overflow-y: auto;
	}

	.abilityCard {
		width: 96%;
		height: 50%;
		margin: 2%;

		display: grid;
		grid-template-rows: 50% 50%;
		grid-template-columns: 33% 67%;
		align-items: center;
		justify-content: center;

		border: solid 1px white;
		background-color: #111111;
	}
		.abilityCard img {
			width: 75%;
			height: 100%;

			grid-area: span 2;
			justify-self: center;
			object-fit: contain;
		}

#triviaWrapper {
	width: 100vw;
	height: 10%;
}