@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

#details {
    width: 100%;
    height: calc(100% - 2 * var(--letterbox-height));

    position: fixed;
    left: 0;
    top: var(--letterbox-height);

    /*background: #111111CC;*/
    background-color: red;
    backdrop-filter: blur(50px);

    opacity: 0;
    display: none;

    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}