main {
	background: url("/images/shared/misc/defaultartwork.webp");
	background-size: 150% 150%;
	background-position-y: center;
	transition: background-position 0.5s ease;
}

/* overlays et backgrounds videos */
#background {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	opacity: 0;
	box-shadow: 0 0 25px 111px black inset, 0 0 25px 111px black;
	filter: blur(5px);

	object-fit: cover;
	mask-image: radial-gradient(black, transparent);
	-webkit-mask-image: radial-gradient(black, transparent);

	transition: filter 2s ease-out, opacity 1s ease-out;
}

#foreground {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	opacity: 0.5;
	box-shadow: 0 0 25px 111px black inset;

	filter: saturate(0);
	object-fit: fill;
	-webkit-mask-image: linear-gradient(135deg, #000000ab, transparent);
}

#foreground_mist {
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0;
	left: 0;

	opacity: 0.3;
	object-fit: cover;
	filter: contrast(2);
	mask-image: linear-gradient(0deg, black, #808080b8, #ffffff00);
	-webkit-mask-image: linear-gradient(0deg, black, #808080b8, #ffffff00);
}






/* carousel des parents */
#carouselWrapper {
	height: 100%;

	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 100vw max-content 100vw;
	z-index: 1;
	
	opacity: 1;
	background: transparent;
}

.carousel {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	z-index: 3;
	background-color: transparent;
}

	.carousel > div {
		width: 34%;

		display: flex;
		flex-direction: column;
		z-index: 1;

		text-align: center;
		align-items: center;

		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	}

	.carousel .active {
		opacity: 1;
		transform: scale(1);
	}
	.carousel .inactive {
		opacity: 0.25;
		transform: scale(0.7);
	}
	.carousel .hidden {
		opacity: 0.1;
		transform: scale(0.4);
	}
	.carousel .dummy {
		opacity: 0;
		width: 10000px;
	}
	.carousel .showOnActive {
		opacity: 0;
		transform: scale(0.9);
		transition: all 1s ease-out;
	}

	.carousel h1 {
		font-size: 10vmin;
		margin-top: 0;
		margin-bottom: 15px;
		white-space: nowrap;
	}
	.carousel h2 {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.carousel h3 {
		height: 3ex;

		margin-top: 30px;
		margin-bottom: 15px;

		position: relative;
		left: 0;
		top: 0;

		font-size: 3vmin;

		transition: height 0.2s ease-out;
	}
	.carousel h4 {
		height: 3ex;
		margin-top: 0;
		margin-bottom: 15px;

		color: #ccc;
		font-size: 2.5vmin;

		position: relative;
		left: 0;

		transition: height 0.5s ease-out;
	}
	.carousel h5 {
		font-size: 1.5vmin;
	}

	.carousel button.trigger {
		border: 0;
		background-color: transparent;
		appearance: none;
	}
		.carousel button.trigger img {
			filter: drop-shadow(0 0 21px #2a2626);

			animation: logo-pulse 1s ease-in-out infinite;
			animation-play-state: paused;

			transition: transform 0.5s ease-out;
		}
		.carousel button.trigger img:hover {
			cursor: pointer;
			
		}

.carousel .searchBtn {
	height: 0;

	grid-area: 2/2;

	position: relative;
	top: 50%;
	transform: scale(0);

	font-size: 4vmin;
	font-family: 'Pathway Gothic One';

	outline: #541f1f 2px solid;
	border-radius: 10px;
	color: white;
	background-color: #1111115c;
	box-shadow: -1px 3px 10px -3px #d51010;

	transition: height 0.5s ease-in-out, 0.5s ease-in-out;
}






/* details du jeu */
#details {
	width: 100vw;
	height: 50%;

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%) scale(0);
	z-index: 5;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 35% 1fr;
	justify-content: center;
	align-items: center;

	transition: transform 0.5s ease-in-out;
}

	#details article {
		font-size: 4vmin;
	}
		#details .leftStats {
			text-align: right;
		}
		#details .rightStats {
			text-align: left;
		}






/*animations*/
@keyframes logo-pulse {
	0% {
		filter: drop-shadow(0 0 21px #2a2626);
	}
	50% {
		filter: drop-shadow(0 0 72px #661111);
	}
	100% {
		filter: drop-shadow(0 0 21px #2a2626);
	}
}