@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root {
	--letterbox-height: 8vh;
	--letterbox-color: black;
	--letterbox-accent: #727165;
}


/*****************/
/* LAYOUT STYLES */
/*****************/

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;

	margin: 0;
	overflow: hidden;
	scrollbar-width: none; /* Hide scrollbar (Firefox) */

	color: white;
	background-color: black;
	font-family: "Pathway Gothic One", sans-serif; 
}
	body::-webkit-scrollbar { /* Hide scrollbar (Blink) */
		width: 0;
		height: 0;
	}

header {
	width: 100vw;
	height: var(--letterbox-height);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 1;

	background-color: var(--letterbox-color);
	box-shadow: 0 5px 22px 0 #727165;
}
	header nav {
		width: 50%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
	}
		header nav button, header nav button > img {
			min-width: 10%;
			margin-left: 10px;
			margin-right: 10px;
			border: 0;
			color: white;
			background-color: transparent;
			font-family: "Pathway Gothic One", sans-serif;
			font-size: 2vmin;
			align-self: center;
		}
		.home {
			height: 90%;
		}
			.home img {
				height: 90%;
			}
	header nav button {
		height: 90%;
		transform: scale(0.9);
		transition: transform 0.2s ease-in-out;
	}
	header nav button:hover {
		transform: scale(1);
	}

main {
	height: calc(100vh - (2 * var(--letterbox-height)));

	display: flex;
	flex-wrap: nowrap;

	scroll-behavior: smooth;
	overflow: hidden;
	top: -100vw;
	opacity: 1;
	position: relative;

	background-color: #333;

	transition: opacity 1.5s ease-in-out,
				top 1.5s ease-in-out,
				bottom 1.5s ease-in-out,
				left 1.5s ease-in-out,
				right 1.5s ease-in-out;
}

footer {
	width: 100vw;
	height: var(--letterbox-height);

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 100px;

	background-color: var(--letterbox-color);
	box-shadow: 0 -5px 22px 0 var(--letterbox-accent);
	z-index: 2;
}





/******************/
/* CONTROL STYLES */
/******************/

a:hover, button:hover {
	cursor: pointer;
}


button.link {
	color: white;
	background-color: transparent;
	font-family: "Pathway Gothic One", sans-serif;
}




/*****************/
/* OLD STYLESSSS */
/*****************/

/* Styles de tableau */
/*thead th {
	background-color: var(--darker);
}
th, td {*/
	/*classe vertical-align ne marchait pas...*/
	/*vertical-align: middle !important;
}*/

/* Transitions des boutons */
/*button, input, select {*/
	/* all, parce que bootstrap ajoute ses propres transitions... */
	/*transition: all 0.1s ease-in-out !important;
}
button:hover, input:hover, select:hover {
	transform: translate(0, -10%);
}
button:active, input:active, select:active {
	transform: translate(0, 0);
}*/

/* Rectangle d'animation de chargement */
/*#loadOverlay {
	background-color: var(--dark);
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	transition: top 1.5s ease-in-out;
	box-shadow: 0 0 0 10px var(--dark);
}*/

/* Carré qui tourne avec un trou (techniquement le logo de Bethesda)*/
/*#throbber {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 4;
	filter: drop-shadow(0 0 20px var(--dark));
	transform: translate(-50%, -50%);
	animation: throbber 1s ease-in-out infinite;
	transition: opacity 1s ease-out;
}*/

/* Plus grosse police pour le header */
/*.nav {
	font-size: 2rem;
}*/

/* Transition des liens du nav */
/*.hoverZoom {
	transition: transform 0.1s ease-in-out;
	transform: scale(0.8);
}
.hoverZoom:hover {
	transform: scale(0.9);
}
.hoverZoom:active {
	transform: scale(0.8);
}*/

/* pas d'espace au bas du nav (pour egaliser l'espace entre la bordure) */
/*.noPaddingB {
	padding-bottom: 0px !important;
}*/

/* Animation du truc qui tourne */
/*@keyframes throbber {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}*/

/* Réduire la taille de la police dans index.html (elle a tendance a overflow) */
/*@media (min-width: 544px) {
	.subheader {
		font-size: 0.9rem;
	}
}*/
