@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root {
	--letterbox-height: 8vh;
	--letterbox-color: black;
	--letterbox-accent: #4c4949;
}


/*****************/
/* LAYOUT STYLES */
/*****************/

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;

	margin: 0;
	overflow: hidden;
	scrollbar-width: none; /* Hide scrollbar (Firefox) */

	color: white;
	background-color: black;
	font-family: "Pathway Gothic One", sans-serif; 
}
	body::-webkit-scrollbar { /* Hide scrollbar (Blink) */
		width: 0;
		height: 0;
	}

header {
	width: 100vw;
	height: var(--letterbox-height);

	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 2;

	background-color: var(--letterbox-color);
	box-shadow: 0 5px 22px 0 var(--letterbox-color);
    border-bottom: solid 1px var(--letterbox-accent);
}
	header nav {
		width: 50%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
	}
		header nav button, header nav button > img {
			min-width: 10%;
			margin-left: 10px;
			margin-right: 10px;
			border: 0;
			color: white;
			background-color: transparent;
			font-family: "Pathway Gothic One", sans-serif;
			font-size: 2vmin;
			align-self: center;
		}
		.home {
			height: 90%;
		}
			.home img {
				height: 90%;
			}
	header nav button {
		height: 90%;
		transform: scale(0.9);
		transition: transform 0.2s ease-in-out;
	}
	header nav button:hover {
		transform: scale(1);
	}

main {
	height: calc(100vh - (2 * var(--letterbox-height)));

	display: flex;
	flex-wrap: nowrap;

	scroll-behavior: smooth;
	overflow: hidden;
	top: -100vw;
	opacity: 1;
	position: relative;

	background-color: #333;

	transition: opacity 1.5s ease-in-out,
				top 1.5s ease-in-out,
				bottom 1.5s ease-in-out,
				left 1.5s ease-in-out,
				right 1.5s ease-in-out;
}

footer {
	width: 100vw;
	height: var(--letterbox-height);

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 100px;

	background-color: var(--letterbox-color);
	box-shadow: 0 -5px 22px 0 var(--letterbox-color);
    border-top: solid 1px var(--letterbox-accent);

	z-index: 2;
}


#background {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	box-shadow: 0 0 25px 111px black inset;
	object-fit: cover;
	filter: blur(5px);
	opacity: 1;

	mask-image: radial-gradient(black, transparent);
	-webkit-mask-image: radial-gradient(black, transparent);
}

#foreground {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 25px 111px black inset;
	object-fit: fill;
	filter: saturate(0);
}

/******************/
/* CONTROL STYLES */
/******************/

a:hover, button:hover {
	cursor: pointer;
}


button.link {
	color: white;
	background-color: transparent;
	font-family: "Pathway Gothic One", sans-serif;
}