@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* STYLES PRINCIPAUX */
:root {
	--letterbox-height: 8vh;
	--letterbox-color: black;
	--letterbox-accent: #4C4949;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;

	display: flex;
	flex-direction: column;

	overflow: hidden;
	scrollbar-width: none; /* Hide scrollbar (Firefox) */

	color: white;
	background-color: black;

	font-family: "Pathway Gothic One", sans-serif; 
}
body::-webkit-scrollbar { /* Hide scrollbar (Blink) */
	width: 0;
	height: 0;
}






/* STYLES DU LAYOUT */
header {
	width: 100vw;
	height: var(--letterbox-height);

	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;

	background-color: var(--letterbox-color);
	box-shadow: 0 5px 22px 0 var(--letterbox-color);
	border-bottom: solid 2px #4949494A;
}
	header nav {
		width: 50%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
	}

		header nav button {
			height: 90%;
			transform: scale(0.9);
			transition: transform 0.2s ease-in-out;
		}

		header nav button, header nav button > img {
			min-width: 10%;
			margin-left: 10px;
			margin-right: 10px;

			border: 0;
			color: white;
			background-color: transparent;

			font-family: "Pathway Gothic One", sans-serif;
			font-size: 2vmin;
			align-self: center;
		}
		header nav button:hover {
			transform: scale(1);
		}

			/* bouton bethesda central */
			#btn_home, #btn_home img {
				height: 90%;
			}

main {
	height: calc(100vh - (2 * var(--letterbox-height)));

	display: flex;
	flex-wrap: nowrap;

	scroll-behavior: smooth;
	overflow: hidden;

	opacity: 0;
	background-color: black;

	transition: opacity 0.5s cubic-bezier(1,0,1,1),
				transform 2s cubic-bezier(1,0,1,1)
}

footer {
	width: 100vw;
	height: var(--letterbox-height);

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 100px;

	border-top: solid 2px #4949494A;
	background-color: var(--letterbox-color);
	box-shadow: 0 -5px 22px 0 var(--letterbox-color);

	z-index: 2;
}





/* WRAPPER D'ERREUR GENERIQUE */
.errorPopup {
	width: 50vw;
	height: 50vh;

	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	font-size: 4vmin;
	text-align: center;
	overflow: hidden;

	border: solid 1px #5f5f5f;
	border-radius: 10px;
	background: #111111CC;
	box-shadow: 0 0 10px black;
	backdrop-filter: blur(15px);
	
	transition: transform 0.5s ease-out;
}

	.errorPopup div {
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.errorPopup img {
		height: 98%;
		z-index: 0;
		align-self: end;
		filter: drop-shadow(-17px -12px 3px black) saturate(0.8);
	}

	.errorPopup p {
		margin: 10px;
		padding: 10px;
		border-radius: 10px;
		background: #111111CC;
		box-shadow: 0 0 10px black;
		font-size: 24px;

		white-space: pre-line;
	}






/* ANNONCE POUR LE SITE DE ZACHARY TANGUAY */
#collabPopup {
	position: fixed;
	right: -450px;
	bottom: calc(var(--letterbox-height) + 4%);
	z-index: 10;

	width: 420px;
	height: min-content; 

	display: grid;
	grid-template-rows: 15% 3% 63% 3% 10%;

	border: ridge 4px #8b8787;
	border-right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 0 10px lightgrey;
	font-family: 'Pathway Gothic One';
	font-size: 21px;

	outline: solid 0px #ffb4b491;

	transition: right 2.5s cubic-bezier(0.2, 0.6, 0.35, 1),
			transform 0.5s ease-in,
			outline 0.5s ease-out;
	animation: ad-float 1s ease-in-out infinite;
}
#collabPopup:hover {
	outline: solid 93vw #400e008c;
}

	#collabPopup h2 {
		position: relative;
		z-index: 4;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		padding: 10px 0 10px 0;
		margin: 0;

		background: black;
		box-shadow: -4px 6px 6px #3c2b2b5c, -3px -11px 6px #3c2b2b5c, -5px 8px 6px #2f25258a;
		border-top-left-radius: 10px;
		font-size: 25px;

		animation: ad-h2-shadow 1s cubic-bezier(0.93, -0.71, 0.63, 1.88) infinite;
	}

		#collabPopup .geralt { /*nom*/
			font-family: MedievalSharp;
			font-size: 29px;
			text-shadow: 0 0 4px #b34f10f0;

			animation: ad-h2-color 0.5s cubic-bezier(0.93, -0.71, 0.63, 1.88) infinite;
		}

	#collabPopup article {
		display: flex;
		flex-direction: row;

		background: #080808;
		box-shadow: 0 5px 10px red;
	}

		#collabPopup p {
			padding: 12px;
			margin: 0;
			text-align: left;
			font-size: 16px;
		}

		#collabPopup .geraltImg {
			width: 40%;
			object-fit: cover;
			border-right: ridge 3px #2e020f;
			box-shadow: 2px -2px 8px #680202;
		}

	#collabPopup marquee { /* :D */
		line-height: 1px;
		filter: blur(5px);
	}

	#collabPopup .swordTop {
		width: 101%;
		height: 17px;

		position: absolute;
		top: -11px;
		right: -4px;
		transform: scaleX(-1);
		z-index: 7;
	}

	#collabPopup .swordBottom {
		width: 101%;
		height: 17px;

		position: absolute;
		bottom: -11px;
		right: -4px;
		transform: scaleX(-1);
		z-index: 7;
	}

	#collabPopup button {
		height: min-content;

		font-size: 1.4em;
		font-family: 'Pathway Gothic One';
		white-space: nowrap;

		background: black;
		border: none;
		border-bottom-left-radius: 10px;
		box-shadow: 0 -10px 10px red;

		animation: ad-button-shadow 1s cubic-bezier(0.93, -0.71, 0.63, 1.88) infinite;
	}

		#collabPopup button b {
			color: transparent;
			background-image: linear-gradient(0deg, white, red);	
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			transition: text-shadow 0.2s ease-out, letter-spacing 0.2s ease-out;
		}
		#collabPopup button b:hover {
			text-shadow: 0px 0px 6px #941a1a;
			letter-spacing: 4px;
		}

	#collabPopup .closeBtn {
		position: absolute;
		right: 0;
		z-index: 5;

		color: white;
		background: #ffffff00;
		box-shadow: none;

		font-size: 1.5em;

		animation: none;
	}

	#collabPopup .overlay {
		width: 100%;
		height: 100%;

		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;

		opacity: 0;
		border-radius: 10px;
		background: #333131d1;
		box-shadow: inset 0 0 10px #830000;
		backdrop-filter: blur(3px);

		pointer-events: none;

		animation: ad-overlay-vignette 3s ease-in-out infinite;
		transition: opacity 1s linear,
				filter 1s linear;
	}
		#collabPopup .progressHeader {
			margin-top: 5%;

			text-shadow: 0 0 5px red;

			font-size: 25px;
			text-align: center;
		}

		#collabPopup .throbber {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(0deg);
			zoom: 0.7;
			z-index: 6;

			box-shadow: 0 0 20px 0px red;

			animation: ad-throbber 1s ease-in-out infinite;
		}

		#collabPopup progress {
			height: 30px;
			margin: 0;
			padding: 5px;

			position: absolute;
			left: 50%;
			bottom: 6%;
			transform: translateX(-50%);
			z-index: 6;

			appearance: none;
			-webkit-appearance: none;

			border: solid 1px darkred;
			border-radius: 20px;
			background: white;
			box-shadow: 0 0 10px black;

			transition: transform 0.5s linear;
		}
		#collabPopup progress::-moz-progress-bar {
			border-radius: 20px;
			background: red;
		}
		#collabPopup progress::-webkit-progress-bar {
			border: 0;
			border-radius: 20px;
			background: white;
		}
		#collabPopup progress::-webkit-progress-value {
			border-radius: 20px;
			background: red;
			box-shadow: 0 0 10px red;
		}

	#collabPopup .progressText {
		margin: 0;
		padding: 0;

		position: absolute;
		left: 50%;
		bottom: 8.5%;
		transform: translateX(-50%);
		z-index: 6;

		color: black;
		text-shadow: 0 0 3px black;

		font-size: 15px;

		transition: transform 0.5s linear, opacity 0.3s ease-in-out;
	}






/* STYLES GENERIQUES */
button.link {
	color: white;
	background-color: transparent;
	font-family: "Pathway Gothic One", sans-serif;
}

a:hover, button:hover {
	cursor: pointer;
}






/* ANIMATIONS (il y en a beaucoup!) */
@keyframes ad-h2-color {
	from { color: red;     }
	  to { color: darkred; }
}

@keyframes ad-h2-shadow {
	  0% { box-shadow: 0px 6px 20px 2px red;     }
	 50% { box-shadow: 0px 6px 20px 2px #5b0000; }
	100% { box-shadow: 0px 6px 20px 2px red;     }
}

@keyframes ad-float {
	  0% { transform: translateY(0);     }
	 50% { transform: translateY(-10px); }
	100% { transform: translateY(0);     }
}

@keyframes ad-button-shadow {
	  0% { box-shadow: 0px -10px 20px 2px red;     }
	 50% { box-shadow: 0px -10px 20px 2px #5b0000; }
	100% { box-shadow: 0px -10px 20px 2px red;     }
}

@keyframes ad-throbber {
	from { transform: translate(-50%, -50%) rotate(0deg);   }
	  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes ad-throbber-reverse {
	from { transform: translate(-50%, -50%) rotate(0deg);    }
	  to { transform: translate(-50%, -50%) rotate(-360deg); }
}

@keyframes ad-overlay-vignette {
	  0% { box-shadow: inset 0 0 10px #830000; }
	 50% { box-shadow: inset 0 0 20px red;     }
	100% { box-shadow: inset 0 0 10px #830000; }
}

@keyframes ad-progress-rainbow {
	from { filter: hue-rotate(0deg);   }
	  to { filter: hue-rotate(360deg); }
}