@model Follower;

<div id="detailsWrapper">
	<figure class="portrait">
		<img src="~/images/games/@(Model.Parent.ShortName)/followers/@(Model.ShortName).webp" alt="Image du compagnion @Model.Name" />
		<figcaption>@Model.Name</figcaption>
	</figure>
	<section class="attributes">
		
	</section>
</div>