@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;*@

@model SearchViewModel;

<!-- BARRE DE RECHERCHE-->
<header id="searchBar">
	<a href="/gestionenfant/create">Add follower</a>
	<div id="searchWrapper">
		<input id="search" name="Keywords" type="search" placeholder="Search..." autocomplete="off" form="searchForm" autofocus />
		<input type="submit" form="searchForm" value="Search" />
		<img id="searchIcon" src="#" alt="" />
	</div>
</header>

<!-- FORMULAIRE DE RECHERCHE (HIDDEN PAR DEFAULT)-->
<form id="searchForm" action="/search/filter" method="get">
	<div class="formWrapper">
		<partial name="Search_Form" model="Model" />
	</div>
</form>

<!-- LISTE DES COMPAGNIONS-->
<section id="cardsWrapper" data-color="red">
	@foreach (Follower follower in Model.Results)
	{
		<partial name="Search_Follower" model="follower" />
	}
</section>

<!-- CITATIONS ALEATOIRES -->
<footer id="quotesBar">
	<blockquote id="trivia"></blockquote>
</footer>
