@model SearchViewModel;

<!-- BARRE DE RECHERCHE-->
<header id="searchBar">
	<div id="searchInputWrapper">
		<input id="searchInput" asp-for="Criteria.Keywords" type="search" placeholder="Recherche..." autocomplete="off" form="searchForm" />
		<span asp-validation-for="Criteria.Keywords"></span>
		<img id="searchIcon" src="#" alt="" />
	</div>
</header>

<!-- FORMULAIRE DE RECHERCHE (HIDDEN PAR DEFAULT)-->
<form id="searchForm" action="/search/filter" method="get">
	<partial name="Search_Form" model="Model" />
</form>

<!-- LISTE DES COMPAGNIONS-->
<style>
	main {
		background-image: url('@(Model.BackgroundSrc)');
	}
</style>
<section id="cardsWrapper">
	@foreach (Follower follower in Model.Results)
	{
		<partial name="Search_Follower" model="follower" />
	}
</section>


<!-- CITATIONS ALEATOIRES -->
<footer id="quotesBar">
	<blockquote id="trivia"></blockquote>

	<!-- BOUTON DE CRÉATION-->
	<button id="addFollowerBtn" class="link" data-href="/gestionenfant/create">+ Ajouter compagnion</button>
</footer>
