@model SearchViewModel;

<!-- BARRE DE RECHERCHE-->
<header id="searchBar">
	<a href="/gestionenfant/create">Add follower</a>
	<div id="searchInputWrapper">
		<input id="searchInput" asp-for="Criteria.Keywords" type="search" placeholder="Recherche..." autocomplete="off" form="searchForm" autofocus />
		<span asp-validation-for="Criteria.Keywords"></span>
		<img id="searchIcon" src="#" alt="" />
	</div>
</header>

<!-- FORMULAIRE DE RECHERCHE (HIDDEN PAR DEFAULT)-->
<form id="searchForm" action="/search/filter" method="get">
	<div id="searchFormContent">
		<partial name="Search_Form" model="Model" />
	</div>
</form>

<!-- LISTE DES COMPAGNIONS-->
<section id="cardsWrapper" data-color="red">
	@foreach (Follower follower in Model.Results)
	{
		<partial name="Search_Follower" model="follower" />
	}
</section>

<!-- CITATIONS ALEATOIRES -->
<footer id="quotesBar">
	<blockquote id="trivia"></blockquote>
</footer>
