@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;

@model List<Follower>;

<!-- BARRE DE RECHERCHE-->
<header id="searchBar">
    <div id="searchWrapper">
        <input id="search" type="text" placeholder="Search..." form="searchForm" />
        <img id="searchIcon" src="#" alt="" />
    </div>
</header>

<!-- FORMULAIRE DE RECHERCHE (HIDDEN PAR DEFAULT)-->
<form id="searchForm">
   <select>
         <option>dummy</option>
   </select>
</form>

<!-- LISTE DES COMPAGNIONS-->
<section id="cardsWrapper" data-color="red">
   @foreach (Follower follower in Model) {
        <button class="follower link" data-href="/details/@follower.Id">
            <img class="thumbnail" src="/images/games/@(follower.Parent.ShortName)/followers/@(follower.ShortName)/thumbnail.jpg" />
            <div class="container">
                <div class="primaryinfo">
                    <img class="gamelogo" src="/images/games/@(follower.Parent.ShortName)/logo.png" />
                    <h2>@follower.Name</h2>
                </div>

                <div class="secondaryinfo">
                    @if (follower.IsFavorite)
                    {<img src="~/images/shared/attributes/favorite.png" />}
                    @if (follower.IsEssential)
                    {<img src="~/images/shared/attributes/essential.png" />}
                    @if (follower.DoesRespawn)
                    {<img src="~/images/shared/attributes/respawns.png" />}
                </div>
            </div>
        </button>
    }
</section>

<!-- CITATIONS ALEATOIRES -->
<footer id="quotesBar">
    <blockquote>TODO Using ViewModel</blockquote>
</footer>
